* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Michroma', sans-serif;
    background: black;
}

/* MAIN */

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding-top: 100px;
}

.content {
    font-family: 'Michroma', sans-serif;
    font-size: 22px;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    position: relative;
    z-index: 999;
    margin-top: -300px;
    padding-bottom: 200px;
}

.btn-home a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    padding: 15px 35px;
}

.btn-home a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(16, 37, 232, 1) 17.8%,
        rgba(16, 37, 232, 1) 100.2%
    );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.btn-home a:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(16, 37, 232, 1) 17.8%,
      rgba(16, 37, 232, 1) 100.2%
    );
    transition: 0.5s;
}

.title1 p {
    color: white;
    font-size: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
}

.conditions {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 64px;
    margin-top: -120px;
}

.title2 p {
    font-size: 53px;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 200px;
}

.rate {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 200px;
}