* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Michroma', sans-serif;
    background-color: black;
}

/* NAVBAR PROFIL */

.all-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.all-btn a {
    padding: 10px 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

/* .btn-menu:hover {
    background-color: #454545;
}

.btn-menu.clicked {
    background-color: #454545;
}

.btn-menu:focus {
    outline: none;
} */