* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Michroma', sans-serif;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner le contenu à droite */
    position: relative; /* Ajout d'une position relative */
}

.logo img {
    padding-left: 30px;
    margin-right: 1080px;
}

.burger {
    padding-right: 30px;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.menu {
    position: absolute;
    top: 100%; /* Placer le menu sous la barre de navigation */
    right: 0; /* Aligner le menu à droite */
    background-color:  black;
    opacity: 85%;
    width: 400px; /* Largeur du menu */
    height: 6000px;
    text-align: center;
    padding-left: 20px;
    display: none; /* Caché par défaut */
    z-index: 99999;
}

.menu ul {
    list-style-type: none;
    padding: 100px 0px;
}

.menu ul li {
    margin: 10px 0 40px; /* Espacement entre les éléments du menu */
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: grey;
}

/* Afficher le menu lorsque le bouton burger est coché */
.hamburger input:checked ~ .menu {
    display: block;
}

.image-clignote  {
    animation-duration: .3s;
    animation-name: clignoter;
    animation-iteration-count: 5;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }
 .statut_connexion{
    color: white;
    font-size: 15px;
 }

.rightSide{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
}