* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Monetserrat', sans-serif;
    background-color: #ffffff;
}

/* partie image de la voiture et infos box1  */

.box_background_1 {
    position: relative;
    height: 45rem; 
}

.range1 {
    background: url('../../src/images/land-rover-range-rover-velar-20394-1 2.png') no-repeat center center;
    background-size: cover;
}

.text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1; /* Assurez-vous que le texte est au-dessus de l'arrière-plan */
    width: 100%;

}

.all_block {
.all_block {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.info_car {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info1 {
.info1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.i1_2 {
.i1_2 {
    font-size: 12px;
    text-align: center;
}

.i1_1 {
.i1_1 {
    font-weight: bold;
    font-size: 18px;
}

.button_reserver {
.button_reserver {
    color: black;
    background-color: #ffffff;
    width: 280px;
    width: 280px;
    height: 51px;
    border-radius: 1.5rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 22px;

}

.button_reserver:hover {

.button_reserver:hover {
    background-color: #c8ced4;
}

.text2 {

.text2 {
    color: white;
    text-align: center;
    width: 55%;
    width: 55%;
    font-size: 21px;
}
/* --------------------------------------------------------------------- */

/* partie image de la voiture et infos box2  */
.box_background_2 {
    position: relative;
    height: 45rem; 
}

.range2 {
    background: url('../../src/images/2020_range_rover_velar_r-dynamic_black_6_1600x1200 1.png') no-repeat center center;
    background-size: cover;
}

.info_car2 {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info2 {

.info2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

/* infos partie gauche */
.info2 .i1 .i1_1 {
    font-size: 12px;
    text-align: center;
}
.info2 .i1 .i1_2 {
    font-size: 23px;
    font-weight: bold;
}
/* infos partie droite */
.info2 .i2 .i1_1{
    font-size: 12px;
    text-align: center;
}
.info2 .i2 .i1_2 {
    font-size: 23px;
    font-weight: bold;
}

.hour_info_box {
.hour_info_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 30%;
    flex-wrap: wrap;
}

.box_h {

.box_h {
    background-color: #ffffff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    min-width: 100px;
    padding: 10px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.box_h:hover {

.box_h:hover {
    background-color: #c8ced4;
}

/* --------------------------------------------------------------------- */
/* CSS du formulaire */

.box_background_3{
    position: relative;
    height: 51rem; 
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.range3 {
    background: url('../../src/images/10299608lpw-10299614-jpg_4560091 1.png') no-repeat center center;
    background-size: cover;
}
.text3 {
    color: white;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    z-index: 100;
}


.container_form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 500px;
    column-gap: 6rem;
    width: 48%;
}

.input-group input {
    width: 83%;
    padding: 21px;
    margin-bottom: 27px;
    border: 2px solid #ccc;
    border-radius: 38px;
    box-sizing: border-box;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none; /* Désactive le style par défaut de certains navigateurs */
    background-clip: padding-box; /* Assurez-vous que le fond ne s'étend pas à travers la bordure */
}

.input-group input::placeholder{
    font-weight: bold;
    text-transform: uppercase;
    color: #929292;
}


.button_next_to_paiement {
    display: flex;
    margin-top: 20px;
    margin-left: 37rem;
    width: 250px;
    padding: 18px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
}

.button_next_to_paiement:hover {
    background-color: #c8ced4;
}

.formulaire_produit {

.formulaire_produit {
    display: flex;
    flex-direction: column;
    z-index: 100;
}