/* partie image de la voiture et infos box1  */
.audi_rs3_1 {
    background: url('../../src/images/audi_rs3.jpg') no-repeat center center;
    background-size: cover;
}

/* --------------------------------------------------------------------- */

/* partie image de la voiture et infos box2  */
.audi_rs3_2{
    background: url('../../src/images/ABT_RS_3_9.jpg') no-repeat center center;
    background-size: cover;
}

/* --------------------------------------------------------------------- */
/* CSS du formulaire */
.audi_rs3_3{ 
    background: url('../../src/images/audi-rs-3-abt_interior.jpg') no-repeat center center;
    background-size: cover;
}

.audi_rs3_3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    /* background-color: rgba(0, 0, 0, 0.3);  */
}